<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Livre</title>
</head>
<body>
    <h1>Recherche de Livre par Auteur</h1>
    <form action="/search" method="GET">
        <label for="author">Auteur:</label>
        <input type="text" id="author" name="author" required>
        <button type="submit">Rechercher</button>
    </form>
    
    <form action="/login" method="post">
        <input type="text" id="title" name = "title" placeholder="Titre..." />
        <input type="text" id="author" name = "author" placeholder="Auteur..." />
        <input type="text" id="year" name = "year" placeholder="Année..." />
        <button type="submit">ajouter</button>
    </form>
    
</body>
</html>